.characters-content {
  display: inline-grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 180px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.characters-content .character-card {
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  height: 150px;
  padding: 15px;
  text-align: center;
  width: 220px;
}

.characters-content .character-card .character-figure {
  margin: 0;
}

.characters-content .character-card .character-image {
  max-height: 120px;
  max-width: 200px;
}

.characters-content .character-card h3 {
  color: black;
  font-size: 15px;
  margin: 0;
}