.side-menu {
  background-color: #ECEFF1;
  box-shadow: 3px 3px 3px #888888;
  height: 100%;
  margin: 0;
  position: fixed;
  top: 70;
  padding-top: 10px;
  width: 200px;
}

.side-menu ul {
  padding: 0;
}

.side-menu ul .menu-item {
  background-color: #f0f0f5;
  height: 35px;
  list-style: none;
  padding-left: 10px;
}